/*the universal selector*/
*{
    /*reset our code, set up our website*/
    /*least specific element*/
    font-size: 100%;  
}

body{
    background-color: beige;
    max-width: 400;
    max-height: 400px;
    font-family: "Karla", sans-serif, Arial;
    font-size: 16px;
    /* margin-left: 70px; */
    width: fit-content;
    height: fit-content;
    }


div.transbox {
    margin: 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: normal;
    color: #0b0eb9;
  }

h1{
    color: green;
    font-style: normal;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.linktopage{
    margin: 20px;
    font-size: 15px;
    text-align: center;
    margin: 5 auto;
    display: inline-block;
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}

h2{
    color:#13643c;
    font-style: normal;
    font-size: 16px;
    text-align: center;
}

.introaudio{
    align-items: center;
    margin-left: 500px;
}

.famtree{
    align-items: center;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.imagesource{
    text-align: center;
    font-size: 10px;
    color: black;
    margin: 0px 50px 0px;
}

#intro{
    background-color: aquamarine;
    color: #51229e;
    text-align: center;
    font-size: 20px; 
    border: 200px;
    padding: 10px;
    margin: 20px;
}

#myfamily{
    background-color: aquamarine;
    color: #51229e;
    text-align: center;
    font-size: 20px;
    border: 200px;
    padding: 10px;
    margin: 20px;
}

h3{
    color: #119955;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    max-width: 800px;
    display: flex;
    align-items: center;

}

h4{
    color: #119955;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    max-width: 800px;  
}
/* h1, h2, h3{ 
    font-weight: 600;
    font-style: italic;
    line-height: 2;
    text-align: center;
}*/

section h3 p {
    color:green;
    font-style: italic;
    text-align: center;
    
}

p{
    color: #51229e;
    /* line-height: 1; */
    text-align: center;
    /* width: fit-content; */
}

a{
    color: rgb(225, 32, 65);
    text-decoration: none;
}
.Column1 {
    float: left;
    width: 50%;
   }
   
.Column2 {
    float: right;
    width: 50%;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

a:hover{
    text-decoration: underline;
}

li{ 
    color: rgb(74, 53, 135)
    /*font-style= normal
    font-weight: bold;
    font-size: 12px;
    these are examples of adding varying font sizes&styles*/
}

.allterms{
    display: block;
    align-items: center;
    justify-content: center;

}

.keyterms{
    background-color: rgb(149, 152, 230);
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 2px dotted grey;
    text-align: center;
    font-size: 24px;
    }

.key-termsall{
    background-color: hsl(228, 44%, 82%);
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
}

.numbers{
    background-color:rgb(149, 152, 230);
    width: 300px;
    height: 50px;
    padding: 10px;
    border: 2px dotted grey;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
    float: left;
}

.numbers-all{
    background-color:hsl(228, 44%, 82%);
    width: 350px;
    height: 800px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
    /* float: left; */
}


.numbers-twenty{
    background-color:hsl(228, 44%, 82%);
    width: 350px;
    height: 1000px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
    /* float: right; */
}

.weekdays{
    background-color:rgb(149, 152, 230);
    width: 250px;
    height: 50px;
    padding: 10px;
    border: 2px dotted grey;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}

.weekdays-all{
    background-color: hsl(228, 44%, 82%);
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
}


.months{
    background-color:rgb(149, 152, 230);
    width: 250px;
    height: 50px;
    padding: 10px;
    border: 2px dotted grey;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}
.months-all{
    background-color: hsl(228, 44%, 82%);
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
}

.colours{
    background-color: rgb(149, 152, 230);
    width: 250px;
    height: 50px;
    padding: 10px;
    border: 2px dotted grey;
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}

.colours-all{
    background-color: hsl(228, 44%, 82%);
    width: 300px;
    height: 400px;
    padding: 10px;
    border: 2px dashed grey;
    text-align: center;
    list-style-type: none;
}


div{
    color: rgba(6, 124, 75, 0.644)
}

.counting{
    column-count: 2;
    column-gap: 50px;
    position: relative;
    align-items: center;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 1200px;
    flex: 1;
}

.column3 {
    float: left;
    width: 50%; 
}      
   
.column4 {
    float: right;
    width: 50%; 
} 
  /* Clear floats after the columns */
  /* .row:after {
    content: "";
    display: table;
    clear: both;
  } */

.days{
    column-count: 2;
    /* column-gap: 70px; */
    /* column-rule-width: 5px; */
    column-fill: initial;
    column-gap: 5px;
    position: flex;
    align-items: center;

}

.alphabetimg{
    text-align: center;
    /* font-size: 10px; */
    color: black;
    align-items: center;
    margin: 0 350px 0;
}

footer{
    background-color: rgb(189, 218, 189);
    margin: 10px 20px;
    border: 2px;
    padding: 10px;
    content: 80%;
    font-size: 11px;
    position: relative;
    bottom: 0;
}

/* element:state */

figcaption a:hover {
    text-decoration: underline;
}

